/*estilo main*/
main{
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	align-items: center;
}
.imgBox2{
	display: table-cell;
}

.textBox2{
	max-width: 500px;
	margin-top: 20px;
	margin-right: 100px;
	text-align: center;
}

.textBox3{
	text-align: center;
}
	
footer{
	font-size: 15px;
	text-align: center;
	height: 40PX;
	color: #DCDCDC;
	background-color: #1C1C1C;
}